*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  background-color: lightblue;
}

.container {
  max-width: 480px;
  margin: 50px auto;
}

.header {
  padding: 5px;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.song-title {
  font-size: 2.4em;
  font-style: italic;
  font-weight: 700;
}

.artist {
  text-decoration: none;
  font-style: italic;
}

.song {
  padding: 10px;
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.song p {
  padding: 5px 0;
  font-size: 1.6em;
}

.chorus {
  text-align: right;
  font-style: italic;
}